@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');

:root {
  background-color: rgba(231, 246, 255, 1);
  color: black;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  height: 100%;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  vertical-align: top;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul, ol, li {
  list-style: none;
}

